@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header {
  position: absolute;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #423940;
  padding: 0px 15px;
  z-index: 10;
}

header .row {
  justify-content: space-between;
  align-items: center;
}

header .my-name a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

header .navbar .icon {
  display: none;
}

header .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .navbar ul li {
  display: inline-block;
  margin-left: 35px;
}

header .navbar ul li a {
  font-size: 15px;
  text-decoration: none;
  line-height: 72px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  position: relative;
}

header .navbar ul li a::before {
  content: "";
  height: 3px;
  background-color: #ffffff;
  width: 0%;
  position: absolute;
  right: 0px;
  bottom: -1px;
  transition: all 0.5s ease;
}

header .navbar ul li a:hover::before {
  width: 100%;
  left: 0;
}

header .navbar ul li a.active::before {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
    color: #ffffff;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Home page styling*/

.home {
  min-height: 100vh;
  background-image: url("assets/backgrounds/header-background.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.home .full-screen {
  min-height: 100vh;
}

.home .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home .home-content .block {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  border-left: 5px solid #ffffff;
  margin-top: 50px;
}

.home .home-content .block h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.home .home-content .block h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.home .home-content .block h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

/*About page styling*/

.about {
  min-height: 100vh;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.about .full-screen {
  min-height: 100vh;
}

.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about .about-content .block {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about .about-content .block .profile-pic {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.about .about-content .block .pic {
  height: 140%;
  width: auto;
  margin: 0;
  margin-left: 0%;
  margin-top: -15%;
}

.about .about-content .block h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.about .about-content .block h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/*Projects Styling*/
.projects {
  min-height: 100vh;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.projects .full-screen {
  min-height: 100vh;
  padding: 0;
}

.projects .full-screen h2 {
  padding-left: 35px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

.projects .projects-content {
  flex: 0 0 75%;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 35px;
}

/* Float four columns side by side */
.projects .projects-content .column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.projects .projects-content .row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.projects .projects-content .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.projects .projects-content .project-card {
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  height: 98%;
}

.projects .projects-content .project-card .proj-img {
  align-content: center;
  max-width: 100%;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .projects .projects-content .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*Experience Styling*/
.experiences {
  min-height: 100vh;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.experiences .full-screen {
  min-height: 100vh;
  padding: 0;
}

.experiences .full-screen h2 {
  padding-left: 35px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

.experiences .experiences-content {
  flex: 0 0 75%;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 35px;
}

/* Float four columns side by side */
.experiences .experiences-content .column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.experiences .experiences-content .row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.experiences .experiences-content .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the cards */
.experiences .experiences-content .experience-card {
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  height: 100%;
}

.experiences .experiences-content .experience-card .exp-img {
  align-content: center;
  max-width: 100%;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .experiences .experiences-content .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*Photography Styling*/
.photography {
  min-height: 100vh;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.photography .full-screen {
  min-height: 100vh;
}

.photography .full-screen h2 {
  padding-left: 35px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

.photography .full-screen h3 {
  padding-left: 35px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  margin: 0;
}

.photography .photography-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 35px;
}

.photography .photography-content .photo {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.photography .photography-content .photo .photo-img {
  align-content: center;
  max-width: 100%;
}

/*Contact Styling*/
.contact {
  min-height: 100vh;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  padding: 15px;
}

.contact .full-screen {
  min-height: 100vh;
}

.contact .contact-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact .contact-content .block {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  margin-top: 50px;
}

.contact .contact-content .block h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.contact .contact-content .block h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.contact .contact-content .block .socialList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact .contact-content .block .socialList ul li {
  display: inline-block;
  margin-left: 5px;
}

.contact .contact-content .block .socialList ul li a {
  font-size: 15px;
  text-decoration: none;
  line-height: 72px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  position: relative;
  align-items: center;
  height: 100%;
}

.contact .contact-content .block #socialBtn {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  background: #ffffff;
  color: #000000;
}

/*Floating Back-To-Top Button*/
#myBtn {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 12px;
  background: #e62739;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  outline: none;
  cursor: pointer;
  border: none;
}
